body {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: #333;
}

h2 {
    text-align: center;
}

header {
     height: 240px;
     background:#007bff;
     color: white;
}

.containercolumna {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerfila {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}
ul{
    padding: 5px;
    list-style-type: none;
}
ol{
    padding: 5px;
}

li{
    margin: 10px 0;
    background: #ccc;
    padding: 10px 15px;
    border-radius: 5px;
}

.flexstart{
    align-items: flex-start;
    justify-content: space-evenly;
}

.item h2{
    border-bottom-style: solid;
    border-bottom-color: #007bff;
}