body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: #333;
}

h2 {
    text-align: center;
}

header {
    height: 240px;
    background: #007bff;
    color: white;
}

.containercolumna {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerfila {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

ul {
    padding: 5px;
    list-style-type: none;
}

ol {
    padding: 5px;
}

li {
    margin: 10px 0;
    background: #ccc;
    padding: 10px 15px;
    border-radius: 5px;
}

.flexstart {
    align-items: flex-start;
    justify-content: space-evenly;
}

body h2 {
    border-bottom-style: solid;
    border-bottom-color: #007bff;
}

.btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

ol {
    list-style-type: circle;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode .btn {
    background-color: #555;
}

.dark-mode li {
    background-color: #555;
}

.dark-mode footer {
    background-color: #333;
}

@media (max-width: 768px) {
    .containerfila {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.navbar ul {
    list-style-type: none;
    background-color: #333;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #222;
}

.navbar li {
    background: #333;
    float: left;
}